@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

a {
  text-decoration: none;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .nav-list {
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

.navbar .nav-list li {
  display: inline-block;
}

.navbar .link {
  margin-left: 10px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.navbar .link.button-styled-link {
  background-color: #f1356d;
  border: 2px solid #f1356d;
  color: #ffffff;
  border-radius: 25px;
  padding: 6px 20px;
  transition: 0.4s all;
}

.navbar .link.button-styled-link:hover {
  background-color: #ffffff;
  color: #f1356d;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border: 1px solid #ccc;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview .blog-title {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
  text-decoration: none;
}

.delete-btn {
  margin-top: 10px;
  cursor: pointer;
  background-color: #ff5050;
  color: #ffffff;
  padding: 7px 15px;
  border-radius: 10px;
  border: 0;
}

/* blog details page */
.blog-details {
  padding: 15px;
  border: 1px solid #ccc;
}

.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.blog-create-page {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.blog-create-page label {
  text-align: left;
  display: block;
}

.blog-create-page h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.blog-create-page input,
.blog-create-page textarea,
.blog-create-page select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  outline: none;
}

.blog-create-page textarea {
  height: 120px;
}

.blog-create-page button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 7px 25px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}


/* Not Found page */
.not-found {
  text-align: center;
}

.not-found h2 {
  font-size: 24px;
  color: #f1356d;
  margin-bottom: 10px;
}

.not-found div {
  margin: 20px 0;
}

.back-to-home {
  margin-top: 15px;
  display: inline-block;
  color: #f1356d;
}